<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">


# Project 4 
## Web Scraping for Indeed.com and Predicting Salaries

## Stage 1: Web scraping

In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time
import random

### Web scraping - single page

In [2]:
# scrape first page of results
url = "http://www.indeed.co.uk/jobs?q=data+scientist+%C2%A310,000&l=london&start=0"
r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

In [3]:
# extract the job listings for first page of results
results_test = soup.find_all('div', class_='result')
print(results_test[0].prettify())

<div class="jobsearch-SerpJobCard unifiedRow row result" data-ci="362377375" data-empn="7967352176238747" data-jk="8d9fe9ee8cf09994" id="pj_8d9fe9ee8cf09994">
 <style>
  .jobcard_logo{margin:6px 0}.jobcard_logo img{width:auto;max-width:80px;max-height:30px}.jasxrefreshcombotst .jobcard_logo img{max-height:2rem;max-width:100%}
 </style>
 <h2 class="title">
  <a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0AZxsRq9b9GKxv_h7q1ABkCCcEffo3LKFWp04beLk-Eij8HBfBM2WRebKF84ZFn4HYAFsgZC-WoHArUNkDTjif58NCXnEGUrUC60UNspgr7HBqZQQoy94MgIlntClA3a8o-fERQTGoZsbRJsRPUM7_9FvmJzzEMuHOki92oGBWreCTpU3IHMi2Z4HQFue4DC8XgAknGzPOAiDTAmXnEiWb0TVbt__vxgCBE8cgncYmfRGMrpsHW3m8cSapyTkU2B_V5i8BT3RLdA2DBbPYxpAZryhpuaydh9lZIposGC1o83v-o4-a1l3dfNDw66zGQv8nGuaJU4rXhsC3uYp2oWRvgFSuummx44CpVgBw1F6nJuGJLeS7Ldu_QjLXk6Mdhwrd0E1cufyx-JBUYshHIJLdOgHEKDXtljVgI5Eto2q7BhAsaLoTXUd0_w9jiDdSu4-6kto5xXYHA-6gmwU_vFzvQ&amp;p=0&amp;fvj=1&amp;vjs=3" id="sja0" onclick="setRefineByCookie(['salest']); sjoc('sja0', 1); convCtr('SJ'); rclk(this,jobmap[0],true,1);" onmousedown="sjomd('sja0'); clk('sja0'); rclk(this,jobmap[0],1);" rel="noopener nofollow" target="_blank" title="Data Scientist">
   <b>
    Data
   </b>
   <b>
    Scientist
   </b>
  </a>
 </h2>
 <div class="sjcl">
  <div>
   <span class="company">
    Intelligent Cricket
   </span>
  </div>
  <div class="recJobLoc" data-rc-loc="North London" id="recJobLoc_8d9fe9ee8cf09994" style="display: none">
  </div>
  <div class="location accessible-contrast-color-location">
   North London
  </div>
  <span class="remote-bullet">
   •
  </span>
  <span class="remote">
   Temporarily remote
  </span>
 </div>
 <div class="salarySnippet salarySnippetDemphasizeholisticSalary">
  <span class="salary no-wrap">
   <span class="salaryText">
    £40,000 - £60,000 a year
   </span>
  </span>
 </div>
 <table class="jobCardShelfContainer" role="presentation">
  <tr class="jobCardShelf">
   <td class="jobCardShelfItem indeedApply">
    <span class="jobCardShelfIcon">
     <svg fill="none" height="16" viewbox="0 0 20 20" width="16">
      <rect fill="#FF5A1F" height="20" rx="10" width="20">
      </rect>
      <path clip-rule="evenodd" d="M15.3125 4.0625L10.8125 15.3125L7.99999 11.375L15.3125 4.0625ZM7.604 12.7576L6.875 15.3125L8.567 14.1054L7.604 12.7576ZM7.20463 10.5796L12.419 5.36525L4.0625 9.125L6.9875 10.7968L7.20463 10.5796Z" fill="white" fill-rule="evenodd">
      </path>
     </svg>
    </span>
    <span class="iaLabel iaIconActive">
     Easily apply to this job
    </span>
   </td>
   <td class="jobCardShelfItem responsiveEmployer">
    <span class="jobCardShelfIcon">
     <svg height="16px" version="1.1" viewbox="0 0 16 16" width="16px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g fill="none" fill-rule="evenodd" id="ResponsiveEmployer16px-8d9fe9ee8cf09994" stroke="none" stroke-width="1">
       <rect fill="#085FF7" fill-rule="nonzero" height="16" rx="8" width="16" x="0" y="0">
       </rect>
       <polygon fill="#FFFFFF" points="6.59966298 4 5 8.7410974 7.53346172 8.7410974 6.8668753 12 11 6.81432441 8.33293211 6.81432441 9.66610496 4">
       </polygon>
      </g>
     </svg>
    </span>
    Responsive employer
   </td>
  </tr>
 </table>
 <div class="summary">
  <ul style="list-style-type:circle;margin-top: 0px;margin-bottom: 0px;padding-left:20px;">
   <li style="margin-bottom:0px;">
    We are looking for someone trained in
    <b>
     data
    </b>
    science, to handle and analyse large sets of cricket related data.
   </li>
   <li>
    The ability to work with SQL.
   </li>
  </ul>
 </div>
 <div class="jobsearch-SerpJobCard-footer">
  <div class="jobsearch-SerpJobCard-footerActions">
   <div class="result-link-bar-container">
    <div class="result-link-bar">
     <span class="date">
      26 days ago
     </span>
     <div class="tt_set" id="tt_set_0">
      <div class="job-reaction">
       <button aria-expanded="false" aria-haspopup="true" aria-label="save or dislike" class="job-reaction-kebab" data-ol-has-click-handler="" onclick="toggleKebabMenu('8d9fe9ee8cf09994', true, event); return false;" tabindex="0">
       </button>
       <span class="job-reaction-kebab-menu">
        <button class="job-reaction-kebab-item job-reaction-save" data-ol-has-click-handler="" onclick="changeJobState('8d9fe9ee8cf09994', 'save', 'linkbar', true, '');return false;">
         <svg focusable="false" height="16" viewbox="0 0 24 24" width="16">
          <g>
           <path d="M16.5,3A6,6,0,0,0,12,5.09,6,6,0,0,0,7.5,3,5.45,5.45,0,0,0,2,8.5C2,12.28,5.4,15.36,10.55,20L12,21.35,13.45,20C18.6,15.36,22,12.28,22,8.5A5.45,5.45,0,0,0,16.5,3ZM12.1,18.55l-0.1.1-0.1-.1C7.14,14.24,4,11.39,4,8.5A3.42,3.42,0,0,1,7.5,5a3.91,3.91,0,0,1,3.57,2.36h1.87A3.88,3.88,0,0,1,16.5,5,3.42,3.42,0,0,1,20,8.5C20,11.39,16.86,14.24,12.1,18.55Z" fill="#2d2d2d">
           </path>
          </g>
         </svg>
         <span class="job-reaction-kebab-item-text">
          Save job
         </span>
        </button>
        <button class="job-reaction-kebab-item job-reaction-dislike" data-ol-has-click-handler="" onclick="dislikeJob(false, false, '8d9fe9ee8cf09994', 'unsave', 'linkbar', true, '');">
         <span class="job-reaction-dislike-icon">
         </span>
         <span class="job-reaction-kebab-item-text">
          Not interested
         </span>
        </button>
        <button class="job-reaction-kebab-item job-reaction-report" onclick="reportJob('8d9fe9ee8cf09994');">
         <span class="job-reaction-report-icon">
         </span>
         <span class="job-reaction-kebab-item-text">
          Report job
         </span>
        </button>
       </span>
      </div>
      <span class="result-link-bar-separator">
       ·
      </span>
      <a class="sl resultLink save-job-link" href="#" id="sj_8d9fe9ee8cf09994" onclick="changeJobState('8d9fe9ee8cf09994', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">
       Save job
      </a>
     </div>
     <script>
      if (!window['sj_result_8d9fe9ee8cf09994']) {window['sj_result_8d9fe9ee8cf09994'] = {};}window['sj_result_8d9fe9ee8cf09994']['showSource'] = false; window['sj_result_8d9fe9ee8cf09994']['source'] = "Indeed"; window['sj_result_8d9fe9ee8cf09994']['loggedIn'] = false; window['sj_result_8d9fe9ee8cf09994']['showMyJobsLinks'] = false;window['sj_result_8d9fe9ee8cf09994']['undoAction'] = "unsave";window['sj_result_8d9fe9ee8cf09994']['relativeJobAge'] = "26 days ago";window['sj_result_8d9fe9ee8cf09994']['jobKey'] = "8d9fe9ee8cf09994"; window['sj_result_8d9fe9ee8cf09994']['myIndeedAvailable'] = true; window['sj_result_8d9fe9ee8cf09994']['showMoreActionsLink'] = window['sj_result_8d9fe9ee8cf09994']['showMoreActionsLink'] || false; window['sj_result_8d9fe9ee8cf09994']['resultNumber'] = 0; window['sj_result_8d9fe9ee8cf09994']['jobStateChangedToSaved'] = false; window['sj_result_8d9fe9ee8cf09994']['searchState'] = "q=data scientist £10,000&amp;l=london&amp;start=0"; window['sj_result_8d9fe9ee8cf09994']['basicPermaLink'] = "https://www.indeed.co.uk"; window['sj_result_8d9fe9ee8cf09994']['saveJobFailed'] = false; window['sj_result_8d9fe9ee8cf09994']['removeJobFailed'] = false; window['sj_result_8d9fe9ee8cf09994']['requestPending'] = false; window['sj_result_8d9fe9ee8cf09994']['currentPage'] = "serp"; window['sj_result_8d9fe9ee8cf09994']['sponsored'] = true;window['sj_result_8d9fe9ee8cf09994']['reportJobButtonEnabled'] = false; window['sj_result_8d9fe9ee8cf09994']['showMyJobsHired'] = false; window['sj_result_8d9fe9ee8cf09994']['showSaveForSponsored'] = true; window['sj_result_8d9fe9ee8cf09994']['showJobAge'] = true; window['sj_result_8d9fe9ee8cf09994']['showHolisticCard'] = true; window['sj_result_8d9fe9ee8cf09994']['showDislike'] = true; window['sj_result_8d9fe9ee8cf09994']['showKebab'] = true; window['sj_result_8d9fe9ee8cf09994']['showReport'] = true;
     </script>
    </div>
   </div>
  </div>
 </div>
 <div class="tab-container">
  <div class="sign-in-container result-tab">
  </div>
  <div class="tellafriend-container result-tab email_job_content">
  </div>
 </div>
</div>

In [4]:
# define functions to extract useful items
def extract_company_from_result(result):
    try:
        return result.find('span', class_='company').text.strip()
    except:
        return np.nan

def extract_location_from_result(result):
# sometimes location is contained in a 'div' not a 'span', check for both
    try:
        return result.find('span', class_='location').text.strip()
    except:
        try:
            return result.find('div', class_='location').text.strip()
        except:
            return np.nan

def extract_job_from_result(result):
    try:
        return result.find('a', class_='jobtitle').text.strip()
    except:
        return np.nan

def extract_salary_from_result(result):
    try:
        return result.find('span', class_='salaryText').text.strip()
    except:
        return np.nan
    
def extract_summary_from_result(result):
    try:
        return result.find('div', class_='summary').text.strip()
    except:
        return np.nan
    
def extract_rating_from_result(result):
    try:
        return result.find('span', class_='ratingsContent').text.strip()
    except:
        return np.nan
    
def extract_link_from_result(result):
    try:
        return result.find('a', class_='jobtitle')['href']
    except:
        return np.nan

In [11]:
# check results from scraping one page of results
companies = []
locations = []
jobs = []
salaries = []
summaries = []
ratings = []
links = []

for result in results_test:
    companies.append(extract_company_from_result(result))
    locations.append(extract_location_from_result(result))
    jobs.append(extract_job_from_result(result))
    salaries.append(extract_salary_from_result(result))
    summaries.append(extract_summary_from_result(result))
    ratings.append(extract_rating_from_result(result))
    links.append(extract_link_from_result(result))
    
df = pd.DataFrame({'company': companies,
                   'location': locations,
                   'job_title': jobs,
                   'salary': salaries,
                   'job_summary': summaries,
                   'company_rating': ratings,
                   'link': links})
df

,company,location,job_title,salary,job_summary,company_rating,link
0,NHS Midlands and Lancashire Commissioning Supp...,London SE1 6LH,Data Scientist,"£24,907 - £30,615 a year",Good knowledge of R. This is essential to mani...,4.5,/rc/clk?jk=195753e0562ed694&fccid=37c85e352ebb...
1,Lendable,London E1 6JE,Data Scientist,NaN,"Research new data sources, advise on costs / b...",NaN,/rc/clk?jk=86094c8dfc7c8a89&fccid=2c65da7ba6c7...
2,Novafutur,London,Junior Data Scientist,NaN,Being a data scientist would require the abili...,NaN,/rc/clk?jk=65cc8df228f482e3&fccid=d9cae5807f63...
3,Ernst & Young,London,Technology Consulting - Data Scientist,NaN,"Used a data visualisation technology, like Tab...",4.0,/rc/clk?jk=bfbb8063181c9c27&fccid=1544766d4c29...
4,Deliveroo,London,Data Scientist,NaN,Data scientists at Deliveroo report into our d...,3.4,/rc/clk?jk=ab2897f8e9b9c4f0&fccid=1d79a4290fb7...
5,Medialab,London,Junior Data Scientist Placement,NaN,Develop automated data processes using Python/...,NaN,/rc/clk?jk=aa102ebbe46abcbb&fccid=4f2893bccebb...
6,Asos.com,London,Data Scientist - Data Science & AI,NaN,Experience accessing and combining data from m...,3.0,/rc/clk?jk=7f6304de6c96752a&fccid=d4f2a7e16823...
7,Visa,London,Data Scientist,NaN,Mid-level experience solving problems with rea...,3.9,/rc/clk?jk=1bace1192b673784&fccid=a3f737e511d9...
8,Deutsche Bank,London,Anti-Fraud Bribery and Corruption Data Scientist,NaN,"Demonstrated experience in platforms (SAS, R e...",3.8,/rc/clk?jk=5025a182b2e067ac&fccid=f1d8e147024a...
9,UK Government - Government Statistical Service,London,Higher Statistical Data Scientist - across the...,"£28,996 a year",Knowledge of data processing to support analys...,NaN,/rc/clk?jk=8a3bbee163053507&fccid=dae1bd9f8c3a...
10,Unilever,Kingston upon Thames KT1 2BA,Data Scientist,NaN,We are looking for a data scientist who thinks...,4.2,/rc/clk?jk=cff8d7515356b827&fccid=37e886222e0c...
11,The Institute of Cancer Research,Sutton,Data Scientist,"£43,000 a year",National cancer registration and mortality rec...,4.3,/rc/clk?jk=a4163e5153fd97e4&fccid=d105d63023c1...
12,G-Research,London,Data Scientist,NaN,Demonstrable proficiency in statistical data a...,3.7,/rc/clk?jk=f34d5658401bbd4e&fccid=4fab22f54276...
13,Deutsche Bank,London,Artificial Intelligence – Data Scientist,NaN,"Designing, developing, deploying and managing ...",3.8,/rc/clk?jk=e96b45c3c7a40fb9&fccid=f1d8e147024a...
14,infarm,London WC2N 5DU,Data Scientist,NaN,Support other teams to constantly improve our ...,NaN,/rc/clk?jk=0e66797452875d4c&fccid=b7956918391f...

### Web scraping - multiple pages
Now that we know how to extract the relevant data from one page of search results, extend the scraping to collect more data. Do this in chunks and save the data into a CSV file at each stage. The table below shows the different searches performed. NB there will be many duplicates in these numbers.

|Job Title Searched|City / Cities Searched|Number of Results|
|:--|:--|--:|
|Data Scientist|London|785|
|Data Scientist|Manchester, Birmingham, Leeds, Reading, Liverpool, Glasgow|554|
|Data Scientist|Edinburgh, Sheffield, Newcastle, Bristol, Southampton, Nottingham|270|
|Data Scientist|Brighton, Cambridge, Oxford, Guildford, Cardiff, remote|528|
|Data Analyst|London|1,115|
|Data Analyst|Manchester, Birmingham, Leeds, Reading, Liverpool, Glasgow|914|
|Data Analyst|Edinburgh, Sheffield, Newcastle, Bristol, Southampton, Nottingham|602|
|Data Analyst|Brighton, Cambridge, Oxford, Guildford, Cardiff, remote|1,346|
|Data Engineer|London|255|
|Data Engineer|Manchester, Birmingham, Leeds, Reading, Liverpool, Glasgow|70|
|Data Engineer|Edinburgh, Sheffield, Newcastle, Bristol, Southampton, Nottingham|65|
|Data Engineer|Brighton, Cambridge, Oxford, Guildford, Cardiff, remote|231|
|Business Intelligence|London|925|
|Business Intelligence|London (2nd search with a later starting point) |1,127|
|Business Intelligence|London (3rd search with a later starting point) |2,000|
|Business Intelligence|Manchester, Birmingham, Leeds, Reading, Liverpool, Glasgow|2,983|
|Business Intelligence|Edinburgh, Sheffield, Newcastle, Bristol, Southampton, Nottingham|961|
|Business Intelligence|Brighton, Cambridge, Oxford, Guildford, Cardiff, remote|1,119|

In [5]:
cities = ['London', 'Manchester', 'Birmingham', 'Leeds', 'Reading', 'Liverpool', 'Glasgow', 
          'Edinburgh', 'Sheffield', 'Newcastle', 'Bristol', 'Southampton', 'Nottingham',
          'Brighton', 'Cambridge', 'Oxford', 'Guildford', 'Cardiff', 'remote']
job_titles = ['data+scientist', 'data+analyst', 'data+engineer', 'business+intelligence']

In [19]:
# scrape different cities and job titles to get more results
# there are 15 results per page, so increment in steps of 15
max_results_per_city = 50
job_title = 'data+scientist'
results = []

for city in set(['Brighton', 'Cambridge', 'Oxford', 'Guildford', 'Cardiff', 'remote']):
    for start in range(0, max_results_per_city, 15):
        url = f'http://www.indeed.co.uk/jobs?q={job_title}+%C2%A310,000&l={city}&fromage=3&start={start}'
        r = requests.get(url)
        soup = BeautifulSoup(r.text, 'html.parser')
        results.append(soup.find_all('div', class_='result'))
        time.sleep(random.randint(2,5))

In [20]:
# add results to a dataframe
companies = []
locations = []
jobs = []
salaries = []
summaries = []
ratings = []
links = []

for page in results:
    for result in page:
        companies.append(extract_company_from_result(result))
        locations.append(extract_location_from_result(result))
        jobs.append(extract_job_from_result(result))
        salaries.append(extract_salary_from_result(result))
        summaries.append(extract_summary_from_result(result))
        ratings.append(extract_rating_from_result(result))
        links.append(extract_link_from_result(result))
    
df = pd.DataFrame({'company': companies,
                   'location': locations,
                   'job_title': jobs,
                   'salary': salaries,
                   'job_summary': summaries,
                   'company_rating': ratings,
                   'link': links})
df.shape

(128, 7)

In [21]:
# write df to csv file
with open('jobs.csv', 'a') as f:
    df.to_csv(f, mode='a', header=f.tell()==0)